body
{ background-color: darkturquoise;
}
h1 {
    color: #030402;
    margin: 20px;
}
p{
    color: crimson;
    h1{
    background-color:cadetblue;
}
h1{
background-color:white;
}
div{
    background-color: navy;
}
body{
    background-image: url("image/back-img-small.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    margin-right:200px;
    background-attachment: fixed;
    background-color: lightblue;
';
}


}